.container2{
    position: relative;
    height: 100vh;
    /*background-color: #baaad1;
    backdrop-filter: blur(5px);  */
    background-image: url('images.jpg');
    background-size: cover;
}

.centered {
    position: absolute;
    margin:auto;
    top: 50%;
    height: 50%;
    width: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #302244;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    
}

.oben {
    height: 33%;
    top: 0px;
    width: 100%;
    text-align: center;
}

.mitte {
    display: flex;
    justify-content: center;
    text-align: center;
    top: 33%;
    height: 33%;
}

.unten {
    justify-content: center;
    text-align: center;
    top: 66%;
    height: 33%;
}

.test{
    justify-content: center;
    text-align: center;
}
